<div ng-show="group">
    <h2>
        <tt-button-back></tt-button-back>
        {{group.courseNumber}} курс, {{group.name}}
        <span ng-show="group.department">{{group.department}}</span>
    </h2>

    <table class="table table-bordered">
        <tr ng-repeat="pair in pairs">
            <td>{{pair.subject}}</td>
        </tr>
     </table>

        <!--<tr ng-repeat="pair in pairs">
            <td>
                <tr>
                    <td>{{pair.dayOfWeek}}</td>
                </tr>
            <tr>
            <td>
                <tr>
                    <td>{{pair.numberOfPair}}</td>
                    <td>{{pair.subject}} <b>{{pair.cabinet}}</b><br/>
                        {{pair.teacher}}
                    </td>
                </tr>
            </td>
        </tr>-->
    </table>

    <div ng-hide="pairs">
        <h1>Розклад відсутній</h1>
        <h4 tt-Back></h4>
    </div>

</div>