<h2>
    <tt-button-back></tt-button-back>
    {{title|local}}
</h2>
<form role="form" novalidate>
    <div class="form-group">
        <label for="facultyName">Назва:</label>
        <input class="form-control" id="facultyName" ng-model="faculty.name">
    </div>
    <div class="form-group">
        <label for="facultyDescription">Опис:</label>
        <textarea class="form-control" id="facultyDescription" ng-model="faculty.description"></textarea>
    </div>
    <button type="submit" class="btn btn-default" ng-click="saveFaculty()">Зберегти</button>
</form>

<div id="groups">
    <h4>Групи:</h4>
    <p>
        <a ng-href="#/admin/faculties/{{faculty.id}}/groups/new" class="btn btn-default" role="button">Додати групу</a>
    </p>
    <ul class="list-group" ng-show="groups">
        <li class="list-group-item" ng-repeat="group in groups">
            {{group.courseNumber}} курс, {{group.name}} <span ng-show="group.department">, {{group.department}}</span>
            <a ng-href="#/admin/faculties/{{faculty.id}}/groups/edit/{{group|entityId}}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a ng-click="deleteGroup(group)" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
        </li>
    </ul>
</div>
