<h2><tt-button-back></tt-button-back> {{title|local}}</h2>
<form role="form" novalidate>
    <div class="form-group">
        <label for="weekStatus">Парніть:</label>
        <select class="form-control" id="weekStatus" ng-model="pair.weekStatus">
            <option value="ALWAYS">{{"ALWAYS"|local}}</option>
            <option value="ODD_WEEK">{{"ODD_WEEK"|local}}</option>
            <option value="EVEN_WEEK">{{"EVEN_WEEK"|local}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="dayOfWeek">День тижня:</label>
        <select class="form-control" id="dayOfWeek" ng-model="pair.dayOfWeek">
            <option value="MONDAY">{{"MONDAY"|local}}</option>
            <option value="TUESDAY">{{"TUESDAY"|local}}</option>
            <option value="WEDNESDAY">{{"WEDNESDAY"|local}}</option>
            <option value="THURSDAY">{{"THURSDAY"|local}}</option>
            <option value="FRIDAY">{{"FRIDAY"|local}}</option>
            <option value="SATURDAY">{{"SATURDAY"|local}}</option>
            <option value="SUNDAY">{{"SUNDAY"|local}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="numberOfPair">Номер пари:</label>
        <select class="form-control" id="numberOfPair" ng-model="pair.numberOfPair">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
        </select>
    </div>
    <div class="form-group">
        <label for="subject">Предмет: </label>
        <input class="form-control" id="subject" ng-model="pair.subject">
    </div>
    <div class="form-group">
        <label for="pairType">Тип пари:</label>
        <select class="form-control" id="pairType" ng-model="pair.pairType">
            <option value="MIXED">{{"MIXED"|local}}</option>
            <option value="LECTURE">{{"LECTURE"|local}}</option>
            <option value="PRACTICE">{{"PRACTICE"|local}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="examType">Вид контролю:</label>
        <select class="form-control" id="examType" ng-model="pair.examType">
            <option value="UNKNOWN">{{"UNKNOWN"|local}}</option>
            <option value="EXAM">{{"EXAM"|local}}</option>
            <option value="PASS_FAIL">{{"PASS_FAIL"|local}}</option>
            <option value="NOTHING">{{"NOTHING"|local}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="teacher">Викладач:</label>
        <input class="form-control" id="teacher" ng-model="pair.teacher">
    </div>
    <div class="form-group">
        <label for="cabinet">Кабінет:</label>
        <input class="form-control" id="cabinet" ng-model="pair.cabinet">
    </div>

    <button type="submit" class="btn btn-default" ng-click="savePair()">Зберегти</button>
</form>
